/* You can add global styles to this file, and also import other style files */

html{
    background-color: #9b4dca;
    height: 100%;
}

body{
    padding-top: 15px;
    max-width: 860px;
    margin: auto;
    height: 100%;
    margin-bottom: 0;
    background-color: white;
    text-align: center;
    box-shadow: 8px 8px 15px #000000 ;
}

nav a {
    width: 33%;
}